<link rel="stylesheet" href="/static/css/base/detail.css">
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="blog-detail">
	<div>
		<div class="blog-title-container">
			<div class="blog-title">{{blog.title}}</div>
			<div>
				{% if request.user.is_authenticated %} 
					{% if request.user == blog.user or request.user.is_superuser %}
						<div class="update-container">
							<a class="blog-edit" href="{% url 'base:edit-blog' blog.user blog.id blog.slug %}">Edit</a>
							<a class="blog-delete" href="{% url 'base:delete-blog' blog.user blog.id blog.slug %}">Delete</a>
						</div>
					{% endif %} 
				{% endif %}
			</div>
		</div>
		<div class="blog-user">@{{blog.user.username}}</div>
		<div class="blog-date">
			{{blog.created_at | date:"l F d Y"}}
		</div>
	</div>
	<div class="img-container">
		<img src="{% static blog.image.url %}" alt="{{blog.image}}" />
	</div>
	<div class="description-container">
		<p>{{blog.description}}</p>
	</div>
	<div>
		<a href="{% url 'base:home' %}">Back</a>
	</div>
</div>
{% endblock content %}
