{% extends 'base.html' %} {% load static %} {% block content %}
<div class="home-container">
	<div class="blog-container">
		{% for blog in blogs %}
		<div class="blog-card">
			<div class="blog-card-img-container">
				<img src="{% static blog.image.url %}" alt="{{blog.title}}" />
			</div>
			<div>
				<div class="blog-card-header">
					<div class="blog-card-title">{{blog.title}}</div>

					<div class="blog-card-date">{{blog.created_at | date:"l F d Y"}}</div>
					<div class="blog-card-user">
						<a href="{% url 'base:home' %}?q={{blog.user}}">@{{blog.user}}</a>
					</div>
				</div>
				<div class="blog-card-body">
					<p>
						{{blog.description | slice:":200" | add:'... '}}<a
							href="{% url 'base:detail-page' blog.user blog.id blog.slug %}"
							><span>Continue</span></a
						>
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
